APP_NAME="Flex CMS"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_TIMEZONE=Europe/Sofia

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=flex_cms
DB_USERNAME=flex_cms
DB_PASSWORD=flex_cms
DB_ROOT_PASSWORD=change-me

MAILER_DSN=null://null
