/.env
/.idea/
/.php-cs-fixer.cache
/.phpunit.cache/
/.phpunit.result.cache
/.vscode/
/composer.phar
/public/media/*
!/public/media/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/backups/
/storage/logs/*
!/storage/logs/.gitkeep
/storage/installed.json
/storage/sessions/*
!/storage/sessions/.gitkeep
/storage/tmp/*
!/storage/tmp/.gitkeep
/storage/updates/
/vendor/
Thumbs.db
.DS_Store
